<div class="card detailcard" *ngIf="saleSelected!= null">
  <div class="card-header">
    <div class="row">
      <div class="col text-center align-middle cardHeaderTitle"> {{saleSelected.date.toLocaleString()| date: 'MM/dd/yyyy HH:mm:ss'}}</div>
    </div>
  </div>
  <div class="card-body">
        <table class="table clearfix">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo de Barra</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio U.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let saleItem of saleSelected.productsSent">
                    <th scope="row">{{ saleItem.quantity }}</th>
                    <td>{{ saleItem.productBarCode }}</td>
                    <td>{{ saleItem.productName }}</td>
                    <td>{{ saleItem.unityPrice }}</td>
                </tr>
                 <tr *ngFor="let saleServiceItem of saleSelected.servicesSent">
                    <th scope="row">1</th>
                    <td colspan="2"> {{ saleServiceItem.service }}</td>
                    <td>{{ saleServiceItem.price }}</td>
                </tr> 
            </tbody>
        </table>
        <table class="table clearfix">
            <tbody>
                <tr>
                    <th>
                        <i *ngIf="saleSelected.payMethod ==1" class="fa fa-money" aria-hidden="true"></i>
                        <i *ngIf="saleSelected.payMethod ==2 " class="fa fa-credit-card" aria-hidden="true"></i>
                    </th>
                    <td>Subtotal:{{saleSelected.subtotal}}</td>
                    <td>Descuento:{{saleSelected.discount}}</td>
                    <td>Total:{{saleSelected.total}} </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>
