<app-loading [hidden]="!isLoading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2 *ngIf="saleToEdit.id == 0"><i class="icon-basket"></i> Nueva Venta</h2>
        <h2 *ngIf="saleToEdit.id != 0"><i class="icon-basket"></i> Editar Venta</h2>
    </div>
    <div class="col-md-4">
        <span class="ui-fluid">
                    <span class="d-block"><i class="icon-magnifier"></i> Buscar producto:</span>
        <p-autoComplete [(ngModel)]="searchedProduct" [suggestions]="searchedProducts" (completeMethod)="searchProduct($event)" field="name" (onSelect)="productSelection($event)" styleClass="wid100"></p-autoComplete>
        </span>
    </div>
</div>
<hr>
<!-- Header title //-->
<div class="salesContainer row">
    <div class="col-md-9">
        <div class="row clearfix">
            <div class="col-md-2">
                <span>
                    Cantidad:
                    <input type="number" min="1" [(ngModel)]="quantityToSale" (keyup.enter)="addToSale()" class="form-control">
                </span>
            </div>
            <div class="col-md-10">
                <span>
                    Codigo de Barra:
                </span>
                <input [(ngModel)]="productbarCode" maxlength="128" (keyup.enter)="addToSale()" class="form-control" placeholder='Codigo de barra'>
            </div>
        </div>
        <table class="table clearfix">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo de Barra</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio U.</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let saleItem of saleToEdit.productsSent">
                    <th scope="row">{{ saleItem.quantity }}</th>
                    <td>{{ saleItem.productBarCode }}</td>
                    <td>{{ saleItem.productName }}</td>
                    <td>{{ saleItem.unityPrice }}</td>
                    <td><i class="fa fa-times" aria-hidden="true" (click)="removeItemFromSale(saleItem?.barCode )"></i></td>
                </tr>
                <tr *ngFor="let saleServiceItem of saleToEdit.servicesSent">
                    <th scope="row">1</th>
                    <td colspan="2"> {{ saleServiceItem.service }}</td>
                    <td>{{ saleServiceItem.price }}</td>
                    <td><i class="fa fa-times" aria-hidden="true" (click)="removeServiceFromSale(saleServiceItem.service )"></i></td>
                </tr>
            </tbody>
        </table>
    </div>





    <div class="col-md-3">

        <div class="card pt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><button type="button" class="btn btn-primary btn-block" (click)="showServiceDialog($event)">Servicio</button></li>
                <li class="list-group-item">Forma de pago:
                    <p-dropdown [options]="payMethods" [autoWidth]='false' [(ngModel)]="selectedPayMethod" [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
                </li>
                <li class="list-group-item"> <span>
                        Subtotal: ${{saleToEdit.subtotal}}
                    </span></li>
                <li class="list-group-item"> <span>
                        Descuento:
                        <input type="number" min="0" [(ngModel)]="saleToEdit.discount" class="form-control">
                    </span></li>
                <li class="list-group-item"><span class="font-weight-bold">
                        Total: ${{saleToEdit.subtotal - saleToEdit.discount}}
                    </span></li>
                <li class="list-group-item"></li>

            </ul>

        </div>
    </div>



    <!-- Navigation Footer -->
    <div class="col-12">
        <div class="footerButtons">
            <div class="">
                <button type="button" class="btn btn-link" [routerLink]="['/sales']">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="submitSale()">Guardar</button>
            </div>
        </div>
    </div>

    <p-dialog [(visible)]="displaySaleServicekModal" modal="modal" width="500" responsive="true" closable="true">
        <p-header>
            Mover Stock
        </p-header>
        <form [formGroup]="saleServiceForm" (ngSubmit)="addService(saleServiceForm.value)">
            <div class="container">
                <div class="row">
                    <div class="form-group col">
                        <label>Servicio</label>
                        <input type="text" class="form-control" [formControl]="saleServiceForm.controls['service']" name="service">
                        <div class="alert alert-danger" role="alert" *ngIf="saleServiceForm.controls['service'].touched && !saleServiceForm.controls['service'].valid">
                            <span *ngIf="saleServiceForm.controls['service'].hasError('required') ">  
                             El Servicio de barra es obligatorio.
                            </span>
                            <span *ngIf="saleServiceForm.controls['service'].hasError('maxlength') ">  
                            La longitud maxima para el servicio es de 128 caracteres. 
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label>Precio</label>
                        <input type="number" min="0" class="form-control" [formControl]="saleServiceForm.controls['price']" name="price">
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="pull-right">
                    <button type="button" class="btn btn-link" (click)="displaySaleServicekModal=false">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </p-footer>
        </form>
    </p-dialog>