@import '../../../styles';
.table {
    margin-top: 15px;
}

.borderMenu {
    margin-top: 35px;
}

// .salesContainer {
//     height: 90vh;
// }
.list-group-item {
    border: 0px solid rgba(0, 0, 0, 0);
}

.ui-autocomplete .ui-autocomplete-input {
    padding-right: 1.5em;
    width: 100%!important;
}