<app-loading [hidden]="!isloading"></app-loading>
<div>
    <button type="button" class="btn btn-primary pull-right" (click)="print()">Imprimir</button>
</div>

<div class="page A4 animated fadeInUp" id="printSectionId">
    <div class="container">
        <div *ngFor="let number of numberOfRows">
            <div class="item">
                <ngx-barcode [bc-element-type]="elementType" [bc-value]="barCode" [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font" [bc-text-align]="textAlign"
                    [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background" [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
            </div>
        </div>
    </div>
</div>