@import '../../../styles';
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css');
#printBarCodeDiv {
    background-color: $white;
}

.page {
    background: $white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// .A4 {  
//   width: 21cm;
//   height: 29.7cm; 
// }
.A4 {
    width: 595px;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media print {
    body,
    .page {
        margin: 0;
        box-shadow: 0;
    }
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 5.3cm 5.3cm 5.2cm 5.2cm;
}

.item {
    height: 2.12cm;
}

.a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}