.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  .A4 {  
    width: 21cm;
    height: 29.7cm; 
  }
  .barcodeWidth{
    height: 2.1cm; 
  }
  .barcodeHeight{
    height: 2.1cm; 
  }
  
  @media print {
    body, .page {
      margin: 0;
      box-shadow: 0;
    }
  }

 
  .container {
    display: grid;
    grid-template-columns: 5.2cm 5.2cm 5.2cm 5.2cm;
  }
  
  .item {
    color: red;
    height: 2.1cm
  }
    
  .a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }