<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-tag"></i> Productos</h2>
    </div>
    <div class="col-md-4">
        <span class="ui-fluid">
                <span class="d-block"><i class="icon-magnifier"></i> Buscar producto:</span>
                 <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="searchProduct" (keyup.enter)="onEnter()"/>  
      </span>
    </div>
</div>
<hr>
<!-- Header title //-->
<div class="row">
    <div class="columna col-md-8">
        <div class="actionButtons widget clearfix">
            <!--  .actionButtons Left-->
            <div class="btn-group pull-left" role="group">
                <button *ngIf="authService.decodedToken.userRole == 'Administrador'" type="button" [routerLink]="['/newProduct/0']" class="btn btn-primary">Nuevo Producto</button>
                <button *ngIf="authService.decodedToken.userRole == 'Administrador'" type="button" [routerLink]="['/newProductFromFile']" class="btn btn-primary">Cargar desde Archivo</button>
                <button type="button" [routerLink]="['/newSale/0']" class="btn btn-primary newSale">Nueva Venta</button>
            </div>
            <!--  .actionButtons Right-->
            <div *ngIf="authService.decodedToken.userRole == 'Administrador'" class="btn-group  pull-right" role="group">
                <button type="button" class="btn btn-primary removeProduct" [disabled]="selectedProduct==null" (click)="removeProduct()"><i class="icon-trash" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary " [disabled]="selectedProduct==null" [routerLink]="['/newProduct/',selectedProduct?.id]"><i class="icon-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="stockitGrid widget clearfix">
            <p-dataTable [value]="products" [rows]="10" [paginator]="true" [pageLinks]="5" selectionMode="single" [lazy]="true" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)"[totalRecords]="totalRecords"
                (onLazyLoad)="changePage($event)" (onRowDblclick)="doubleClick($event)">
                <p-column field="barCode" header="Codigo de barra" sortable="true"></p-column>
                <p-column field="name" header="Nombre" sortable="false"></p-column>
                <p-column header="Precio" sortable="true" [style]="{'width':'20%'}">
                    <ng-template let-field="rowData" pTemplate type="body">
                        <span>${{field.salePrice }}
                            </span>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="columna col-md-4">
        <app-product-detail [productSelected]="selectedProductDetail" (reloadGrid)="reloadGrid($event)" (loading)="setLoading($event)"></app-product-detail>
    </div>
</div>