<app-loading [hidden]="!isloading"></app-loading>

<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2 class="mb-4"><i class="icon-tag"></i> Cargar desde archivo</h2>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<!-- Header title //-->


<div class="row">
    <div class="col">

        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone d-flex justify-content-center align-items-center">

            <i class="icon-cloud-upload upload"></i>
            <br>
            <span class="text-muted d-block"> Arrastre aquí el archivo para subirlo</span>

        </div>
    </div>
</div>
<div *ngIf="productsWithError.length != 0" class="row">
    <div class="col-lg-12">
        <h2>Productos con errores</h2>
        <div *ngFor="let item of productsWithError">
            <span>{{item}}</span>
        </div>
    </div>
</div>
<div *ngIf="showInstructions" class="mt-3 text-muted">
    <ul>
        <li>
            Los Archivos deben ser de extension <strong>.csv (MS-DOS)</strong>.
        </li>
        <li>
            Cada linea debe seguir el siguiente formato <strong>FECHA;PRODUCTO;MODELO;PRECIO UNITARIO;PRECIO PUBLICO;CANTIDAD;PROVEEDOR;CATEGORIA;DESCRIPCION</strong>.
        </li>
        <li>
            La primer linea correspondiente al encabezado <strong>NUNCA</strong> se lee.
        </li>
        <li>
            Si el nombre del producto no existe, se crea el producto con stock en el local seleccionado. En caso que exista solo se le crea el stock.
        </li>
        <li>
            El nombre del producto se genera de la union del <strong>PRODUCTO MODELO</strong>. La descripcion es opcional.
        </li>
        <li>
            El precio de venta debe ser un <strong>40% mayor</strong> que el de compra.
        </li>
        <li>
            Los valores de los precios no poseen separacion de decimales.
        </li>
    </ul>
</div>