@import '../../../styles';
.nv-file-over {
    border: 3px dashed $secondary!important;
    .upload {
        font-size: 52px;
        color: $secondary;
    }
}


/* Default class applied to drop zones on over */

.my-drop-zone {
    height: 30vh;
    background: $white;
    border-radius: 4px;
    border: 3px dashed lighten($secondary, 10%);
    .upload {
        font-size: 52px;
        color: lighten($secondary, 10%);
    }
}