<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-12">
        <h2><i class="icon-graph"></i> Deudas con proveedores</h2>
    </div>

</div>
<hr>
<div class="row d-flex justify-content-start align-items-end mb-3">
    <div class="col-md-2">
        <label>Desde</label>
        <p-calendar [(ngModel)]="from" [maxDate]="maxDate" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="col-md-2">
        <label>Hasta</label>
        <p-calendar [(ngModel)]="to" [minDate]="from" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="col-md-2">
        <label>Proveedor </label>
        <p-dropdown [options]="providers" [autoWidth]='false' [(ngModel)]="selectedProvider" [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
    </div>
    <div class="col-md-3 btn-group  pull-right" role="group">
        <button type="button" class="btn btn-primary removeProduct" (click)="getDoubt()">Generar</button>
        <!--<button type="button" class="btn btn-primary">Imprimir</button>-->
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">Saldo Previo</td>
                <td>{{previousDoubt.ammount}}</td>
            </tr>
            <tr *ngFor="let item of doubt || []; let i=index">
                <td>{{item.date.toLocaleString() | date:short}}</td>
                <td>{{item.description}}</td>
                <td>{{item.ammount}}</td>
                <td>{{ getTotal(i) }}</td>
            </tr>
            <!--{{contents[$index - 1]}}-->
        </tbody>
    </table>


</div>