<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-user"></i> Usuarios</h2>
    </div>
    <div class="col-md-4">
        <!--<span class="ui-fluid">
                                    <span class="d-block"><i class="icon-magnifier"></i> Buscar producto:</span>
        <p-autoComplete [(ngModel)]="searchedProduct" [suggestions]="searchedProducts" (completeMethod)="searchProduct($event)" field="name" (onSelect)="productSelection($event)" styleClass="wid100"></p-autoComplete>
        </span>-->
    </div>
</div>
<hr>
<!-- Header title //-->
<div class="row d-flex justify-content-center">

    <div class="columna col-lg-8">
        <div class="actionButtons widget clearfix">
            <div class="btn-group pull-left" role="group">
                <button type="button" [routerLink]="['/newUser/0']" class="btn btn-primary">Nuevo Usuario</button>
            </div>
            <div class="btn-group  pull-right" role="group">
                <button type="button" class="btn btn-primary" [disabled]="selectedUser==null" (click)="removeUser()"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary" [disabled]="selectedUser==null" [routerLink]="['/newUser/',selectedUser?.id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="stockitGrid widget clearfix">
            <p-dataTable [value]="users" [rows]="10" [paginator]="true" [pageLinks]="3" selectionMode="single" [(selection)]="selectedUser">
                <p-column field="firstName" header="Nombre" [sortable]="true"></p-column>
                <p-column field="lastName" header="Apellido" [sortable]="true"></p-column>
                <p-column field="email" header="Email"></p-column>
                <p-column field="role" header="Posision"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>