<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-12">
        <h2><i class="icon-graph"></i> Productos con poco stock</h2>
    </div>

</div>
<hr>
<!-- Header title //-->
<div class="row">

    <!--<div class="col-lg-1 offset-lg-10">                
                 <button class="btn btn-primary">Imprimir</button>
            </div>-->
</div>
<div class="row">
    <div class="col">
        <p-dataTable [value]="products" sortField="provider.name" rowGroupMode="subheader" groupField="provider" expandableRowGroups="true" [sortableRowGroup]="false">
            <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['provider'].name}}</ng-template>
            <p-column field="barCode" header="Codigo"></p-column>
            <p-column field="name" header="Nombre"></p-column>
            <p-column field="quantity" header="Cantidad" sortable="false">
                <ng-template let-field="rowData" pTemplate type="body">
                    <div *ngFor="let locals of field?.quantity">
                        <p><strong>{{locals.localName}}:</strong> {{locals.stockQuantity}} U.</p>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>