<app-loading [hidden]="!isLoading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-speedometer"></i> Dashboard</h2>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<!-- Header title //-->
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-success border-success">
                <div class="card-body pb-0">
                    <a class="btn-group btn btn-outline-success float-right" dropdown [routerLink]="['/stocktakingReport']">

                        <i class="icon-arrow-right" aria-hidden="true"></i>

                    </a>
                    <h3 class="mb-0">Ventas <span class="small">{{today | date}}</span></h3>
                </div>
                <div class="text-center dashMetric">
                    ${{metrics.todaySales}}
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-danger border-danger">
                <div class="card-body pb-0">
                    <a class="btn-group float-right btn btn-outline-danger" dropdown [routerLink]="['/stocktakingReport']">

                        <i class="icon-arrow-right" aria-hidden="true"></i>

                    </a>
                    <h3 class="mb-0">Gastos <span class="small">{{today | date}}</span></h3>

                </div>
                <div class="text-center dashMetric">
                    ${{metrics.todayExpenses}}
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-secondary border-secondary">
                <div class="card-body pb-0">
                    <a class="btn-group btn btn btn-outline-secondary float-right" dropdown routerLinkActive="active" [routerLink]="['/productLessStockReport']">

                        <i class="icon-arrow-right" aria-hidden="true"></i>

                    </a>
                    <h3 class="mb-0">Poco stock en </h3>
                    <!-- <p class="mb-0">.</p> -->
                </div>
                <div class="text-center dashMetric">
                    {{metrics.productWithMinimumStock}} productos.
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-info border-info">
                <div class="card-body pb-0">
                    <h3 class="mb-0">Mas vendido</h3>
                    <!-- <p class="mb-0">.</p> -->
                </div>
                <div class="text-center dashMetric">
                    {{metrics.productWithMostSales}}
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <h4 class="card-title mb-0">Ventas vs. Gastos</h4>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                    <div class="chart-wrapper">
                        <canvas baseChart #baseChart="base-chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="mainChartOptions" [colors]="mainChartColours" (chartClick)="onChartClick($event)">
      </canvas>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>