@import '../../../styles';
.dashMetric {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 30px;
    min-height: 80px;
}

a {
    color: aliceblue;
}

.chart-wrapper {
    height: 300px;
    margin-top: 40px;
}

.card-body {
    .small {
        font-size: 60%;
        font-weight: 400;
    }
}