<aside *ngIf="status" class="sidebar col-12 col-sm-auto">
    <div class="logo text-center mt-4">
        <a [routerLink]="['/']">
            <img class="logoImg mb-3" [src]="imagePath">
        </a>
        <a [routerLink]="['/']">
            <img class="logoImgMin mb-3" [src]="imagePathMin">
        </a>
    </div>
    <nav class="menu d-flex d-sm-block justify-content-center flex-wrap mb-3">
        <a routerLinkActive="active" [routerLink]="['/dashboard']">
            <i class="icon-speedometer" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
        <a routerLinkActive="active" [routerLink]="['/products']">
            <i class="icon-tag" aria-hidden="true"></i>
            <span>Productos</span>
        </a>
        <a routerLinkActive="active" [routerLink]="['/sales']">
            <i class="icon-basket" aria-hidden="true"></i>
            <span>Ventas</span>
        </a>
        <a routerLinkActive="active" [routerLink]="['/expenses']">
            <i class="icon-wallet" aria-hidden="true"></i>
            <span>Gastos</span>
        </a>
        <a routerLinkActive="active" [routerLink]="['/providers']">
            <i class="icon-people" aria-hidden="true"></i>
            <span>Proveedores</span>
        </a>
        <a routerLinkActive="active" [routerLink]="['/stockControls']">
            <i class="icon-chart" aria-hidden="true"></i>
            <span>Control de Stock</span>
        </a>
        <a *ngIf="authService.decodedToken.userRole == 'Administrador'" routerLinkActive="active" [routerLink]="['/users']">
            <i class="icon-user" aria-hidden="true"></i>
            <span>Usuarios</span>
        </a>
        <!-- Menu Item Report Desktop-->
        <span class="subMenuReportsComplete">
        <a href="#reports" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            <i class="icon-graph" aria-hidden="true"></i>
            <span>Reportes</span>
        <i class="fa pull-right" aria-hidden="true"></i>
        </a>
        <ul class="collapse list-unstyled subMenuReports" id="reports">
            <li><a routerLinkActive="active" [routerLink]="['/productsReport']">Productos</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/productLessStockReport']">Poco stock</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/providersReport']">Proveedores</a></li>
            <li *ngIf="authService.decodedToken.userRole == 'Administrador'"><a routerLinkActive="active" [routerLink]="['/providerDoubtsReport']">Deudas con proveedores</a></li>
            <li><a routerLinkActive="active" [routerLink]="['/stocktakingReport']">Balance entre fechas</a></li>
        </ul>
        </span>
        <!-- Menu Item Report Laptops-->
        <span class="subMenuReportsMin">
                <a #myButton href="#reports2" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                        <i class="icon-graph" aria-hidden="true"></i>
        </a>
        <ul class="collapse list-unstyled subMenuReports" id="reports2">
            <li><a (click)="closeReportsDropdown()" routerLinkActive="active" [routerLink]="['/productsReport']" >Productos</a></li>
            <li><a (click)="closeReportsDropdown()" routerLinkActive="active" [routerLink]="['/productLessStockReport']" >Poco stock</a></li>
            <li><a (click)="closeReportsDropdown()" routerLinkActive="active" [routerLink]="['/providersReport']" >Proveedores</a></li>
            <li *ngIf="authService.decodedToken.userRole == 'Administrador'"><a (click)="closeReportsDropdown()" routerLinkActive="active" [routerLink]="['/providerDoubtsReport']">Deudas con proveedores</a></li>
            <li><a (click)="closeReportsDropdown()" routerLinkActive="active" [routerLink]="['/stocktakingReport']">Balance entre fechas</a></li>
        </ul>
        </span>
        <a (click)="logout()" class="logOutButton">
            <i class="icon-logout" aria-hidden="true"></i>
            <span>Cerrar Sesion</span>
        </a>
        <span class="subMenuLocalsMin" *ngIf="authService.decodedToken.userRole == 'Administrador' && locals?.length > 1">
            <a #mylocals href="#locals" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                    <i class="icon-organization" aria-hidden="true"></i>
        </a>
        <ul class="collapse list-unstyled subMenuLocals" id="locals">
            <li *ngFor="let item of locals"><a (click)="changeLocal(item)">{{item.name}}</a></li>

        </ul>
        </span>
    </nav>
    <hr>
    <div class="text-center localSelector" *ngIf="authService.decodedToken.userRole == 'Administrador'">
        <div *ngIf="locals?.length > 1">
            <p-dropdown [options]="locals" [autoWidth]='false' [(ngModel)]="selectedLocal" optionLabel="name" (onChange)="localChange($event)" [style]="{'width': '90%'}"> </p-dropdown>
        </div>
        <div *ngIf="locals?.length == 1">
            <span>{{selectedLocal.name}}</span> </div>
    </div>
    <div class="text-center" *ngIf="authService.decodedToken.userRole != 'Administrador'">
        <span>{{selectedLocal?.name}}</span>
    </div>


</aside>