@import '../../../styles';

/*--- Barra Lateral ---*/

.sidebar {
    background: $white;
    color: $body-color;
    min-width: 250px;
    min-height: 97.1vh;
    padding: 0;
    a {
        color: lighten($body-color, 5%);
    }
    .logo {
        .logoImg {
            height: 65px;
            padding: 8px;
        }
        .logoImgMin {
            display: none;
        }
        margin-bottom: 2px;
        h2 {
            font-size: 30px;
            padding: 20px 0;
            text-align: center;
            font-weight: 300;
            margin: 0;
        }
    }
    .menu {
        a {
            display: block;
            padding: 10px;
            font-weight: 300;
            border-left: solid 5px transparent;
            font-size: 1em;
            &:hover {
                text-decoration: none;
                border-left: solid 5px $secondary;
                transition: all .3s ease;
                background: lighten($secondary, 45%);
            }
            i {
                margin-right: 20px;
                color: $primary;
            }
        }
        a.active {
            background: none;
            border-left: solid 5px $primary;
            color: $primary;
            i {
                color: $primary!important;
            }
        }
        .logOutButton {
            cursor: pointer;
        }
    }
}

.subMenuReportsComplete {
    display: visible;
}

.subMenuReportsMin {
    display: none;
}

.subMenuLocalsMin {
    display: none;
}


/**** Laptop ****/

@media screen and (max-width:1366px) {
    .sidebar {
        min-width: auto;
        .logo {
            .logoImg {
                display: none;
            }
            .logoImgMin {
                width: 32px;
                display: block;
                margin: 0px auto;
            }
        }
        .menu {
            a span {
                display: none;
            }
            i {
                margin-right: 10px!important;
            }
            a {
                border-left: solid 3px transparent;
                &:hover {
                    text-decoration: none;
                    border-left: solid 3px $secondary;
                    transition: all .3s ease;
                    background: lighten($secondary, 45%);
                }
            }
            a.active {
                border-left: solid 3px $primary;
                border-bottom: solid 0px $secondary
            }
        }
    }
    .subMenuReportsComplete {
        display: none;
    }
    .subMenuReportsMin {
        display: block;
    }
    .subMenuReportsMin ul {
        position: absolute;
        z-index: 999;
        left: 50px;
        width: 200px;
        top: 310px;
        height: 220px;
        font-size: 0.9em;
        background: $white;
    }
    .subMenuLocalsMin {
        display: block;
    }
    .subMenuLocalsMin ul {
        position: absolute;
        z-index: 999;
        left: 50px;
        width: 200px;
        top: 410px;
        font-size: 0.9em;
        background: $white;
        cursor: pointer;
    }
    .localSelector {
        display: none;
    }
}


/**** Mobile ****/

@media screen and (max-width:575px) {
    .sidebar {
        min-height: auto;
        width: 100% !important;
        background-color: $primary;
        .menu a {
            &:hover {
                background: darken($primary, 15);
                text-decoration: none;
                border-left: solid 0px transparent;
                border-bottom: solid 0px transparent;
            }
            display: inline-block;
            border-bottom: none;
            color: $white;
            border-left: solid 0px transparent;
        }
        i {
            color: $white!important;
        }
        a.active {
            border-left: solid 0px $secondary;
            border-bottom: solid 0px $secondary;
            background: darken($primary, 15)!important;
            i {
                color: $white!important;
            }
        }
    }
    .subMenuReportsComplete {
        display: none;
    }
    .subMenuReportsMin {
        display: none;
    }
}

[data-toggle="collapse"] .fa:before {
    content: "\f106";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f107";
}

.collapse.show {
    background: lighten($secondary, 50%);
    transition: all .3s ease-in-out;
}