<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-people"></i> Proveedores</h2>
    </div>
    <div class="col-md-4">
        <span class="ui-fluid">
         <span class="d-block"><i class="icon-magnifier"></i> Buscar proveedor:</span>
                 <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="searchProvider" (keyup.enter)="onEnter()"/>  
        </span>
    </div>
</div>
<hr>
<!-- Header title //-->
<div class="row">
    <div class="columna col-md-8">
        <div class="actionButtons widget clearfix">
            <div class="btn-group pull-left" role="group">
                <button type="button" [routerLink]="['/newProvider/0']" class="btn btn-primary">Nuevo Proveedor</button>
            </div>
            <div class="btn-group  pull-right" role="group">
                <button *ngIf="authService.decodedToken.userRole == 'Administrador'" type="button" class="btn btn-primary" [disabled]="selectedProvider==null" (click)="removeProvider()"><i class="icon-trash" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary" [disabled]="selectedProvider==null" [routerLink]="['/newProvider/',selectedProvider?.id]"><i class="icon-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="stockitGrid widget clearfix">
            <p-dataTable [value]="providers" [rows]="10" [paginator]="true" [pageLinks]="5" selectionMode="single" [lazy]="true" [(selection)]="selectedProvider" (onRowSelect)="onRowSelect($event)" [totalRecords]="totalRecords"
                (onLazyLoad)="changePage($event)" (onRowDblclick)="doubleClick($event)">
                <p-column field="name" header="Nombre" sortable="true"></p-column>
                <p-column field="phone" header="Tel" sortable="false"></p-column>
                <p-column field="email" header="Email" sortable="false"></p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="columna col-md-4">
        <app-provider-detail [providerSelected]="selectedProviderDetail" (reloadGrid)="reloadGrid($event)" (loading)="setLoading($event)"></app-provider-detail>
    </div>
</div>