<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-chart"></i> Control de Stock</h2>
    </div>
    <div class="col-md-4">
        <span class="ui-fluid">
            <span class="d-block"><i class="icon-magnifier"></i> Buscar control de stock:</span>
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="searchStockControl" (keyup.enter)="onEnter()"/>  
        </span>
    </div>
</div>
<hr>
<div class="row">
    <div class="columna col-lg-12">
        <div class="actionButtons widget clearfix">
            <div class="btn-group pull-left" role="group">
                <button (click)="AddStockControl($event)" class="btn btn-primary newProduct ">Nuevo Control</button>
                <button (click)="AddRandomStockControl()" class="btn btn-primary newProduct ">Control Aleatorio</button>
            </div>
            <div class="btn-group  pull-right" role="group">
                <button *ngIf="authService.decodedToken.userRole == 'Administrador'" type="button" class="btn btn-primary pull-right editButton " (click)="editCounter()" [disabled]="selectedStock?.isFinished || selectedStock==null"><i class="icon-trash" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary pull-right " [disabled]="selectedStock==null" (click)="removeStockCounter()"><i class="icon-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="stockitGrid widget clearfix">
            <p-dataTable [value]="stockControls" [rows]="10" [paginator]="true" [pageLinks]="5" selectionMode="single" [lazy]="true" [(selection)]="selectedStock" [totalRecords]="totalRecords" (onLazyLoad)="changePage($event)" (onRowDblclick)="doubleClick($event)">
                <p-column field="name" header="Nombre" sortable="true"></p-column>
                <p-column header="Fehca de Creacion" sortable="false" styleClass="dateColumn">
                    <ng-template let-field="rowData" pTemplate type="body">
                        <span>{{field.createdDate.toLocaleString() | date: 'MM/dd/yyyy'}}</span>
                    </ng-template>
                </p-column>
                <p-column field="isFinished" header="Terminado" sortable="false" styleClass="numberColumn"></p-column>
            </p-dataTable>
        </div>
    </div>
    <p-dialog header="Nuevo Control de Stock" [(visible)]="displayStockModal" modal="modal" width="400" responsive="true">
        <div>
            <label>Nombre:</label>
            <input [(ngModel)]="stockCounterName" maxlength="64" class="form-control" placeholder='Buscar'>
        </div>
        <p-footer>
            <button type="button" class="btn btn-link" (click)="displayStockModal=false">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="CreateStockControl()">Agregar</button>
        </p-footer>

    </p-dialog>
</div>