<app-loading [hidden]="!isloading"></app-loading>

<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2 *ngIf="providertoEdit.id == 0"><i class="icon-people"></i> Nuevo Proveedor</h2>
        <h2 *ngIf="providertoEdit.id != 0"><i class="icon-people"></i> Editar Proveedor</h2>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<!-- Header title //-->

<form [formGroup]='providerEditorForm' (ngSubmit)="editProvider(providerEditorForm.value)">
    <div class="row clearfix">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Nombre</label>
                <input id="name" type="text" class="form-control has-danger" formControlName="name" name="name">
                <div class="alert alert-danger" role="alert" *ngIf="providerEditorForm.controls['name'].touched && !providerEditorForm.controls['name'].valid">
                    <span *ngIf="providerEditorForm.controls['name'].hasError('required') ">  
                    El nombre es obligatorio.
                    </span>
                    <span *ngIf="providerEditorForm.controls['name'].hasError('minlength') ">  
                    Min length is 1  
                    </span>
                    <span *ngIf="providerEditorForm.controls['name'].hasError('maxlength') ">  
                    La longitud maxima para el nombre es de 64 caracteres. 
                </span>
                </div>
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control" formControlName="phone" name="phone">
                <div class="alert alert-danger" role="alert" *ngIf="providerEditorForm.controls['phone'].touched && !providerEditorForm.controls['phone'].valid">
                    <span *ngIf="providerEditorForm.controls['phone'].hasError('required') ">  
                    El telefono es obligatorio.
                    </span>
                    <span *ngIf="providerEditorForm.controls['phone'].hasError('minlength') ">  
                    La longitud minima para el telefono es de 5 caracteres. 
                    </span>
                    <span *ngIf="providerEditorForm.controls['phone'].hasError('maxlength') ">  
                    La longitud maxima para el telefono es de 64 caracteres. 
                </span>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" name="email">
                <div class="alert alert-danger" role="alert" *ngIf="providerEditorForm.controls['email'].touched && !providerEditorForm.controls['email'].valid">
                    <span *ngIf="providerEditorForm.controls['email'].hasError('required') ">  
                    El Email es obligatorio.
                    </span>
                    <span *ngIf="providerEditorForm.controls['email'].hasError('minlength') ">  
                    La longitud minima para el Email es de 5 caracteres. 
                    </span>
                    <span *ngIf="providerEditorForm.controls['email'].hasError('maxlength') ">  
                    Email Invalido. 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Direccion</label>
                <input type="text" class="form-control" formControlName="address" name="address">
                <div class="alert alert-danger" role="alert" *ngIf="providerEditorForm.controls['address'].touched && !providerEditorForm.controls['address'].valid">
                    <span *ngIf="providerEditorForm.controls['address'].hasError('required') ">  
                    El direccion es obligatorio.
                    </span>
                    <span *ngIf="providerEditorForm.controls['address'].hasError('minlength') ">  
                    La longitud minima para el direccion es de 5 caracteres. 
                    </span>
                    <span *ngIf="providerEditorForm.controls['address'].hasError('maxlength') ">  
                    La longitud maxima para la direccion es de 128 caracteres. 
                </span>
                </div>
            </div>
            <div class="form-group">
                <label>Website</label>
                <input type="text" class="form-control" formControlName="website" name="website">
                <div class="alert alert-danger" role="alert" *ngIf="providerEditorForm.controls['website'].touched && !providerEditorForm.controls['website'].valid">
                    <span *ngIf="providerEditorForm.controls['website'].hasError('required') ">  
                    El telefono es obligatorio.
                    </span>
                    <span *ngIf="providerEditorForm.controls['website'].hasError('minlength') ">  
                    La longitud minima para el telefono es de 5 caracteres. 
                    </span>
                    <span *ngIf="providerEditorForm.controls['website'].hasError('maxlength') ">  
                    URL Invalido. 
                </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation Footer -->
    <div class="col-12">
        <div class="pull-right footerButtons">
            <button type="submit" class="btn btn-link" [routerLink]="['/providers']">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!providerEditorForm.valid">Guardar</button>
        </div>
    </div>
</form>