@import '../../../styles';
.squareInput {
  height: 15vh;
  width: 40% !important;
  margin-left: 30%
}


input[type="number"] {
    font-size: 30px;
    text-align: center;
}
.submitButtons{
   position:absolute;
   bottom:0;
   right: 2%;
}
.submitContainer{
    height: 90vh;
}