<div class="card detailcard" *ngIf="providerSelected!= null">
    <div class="card-header">
        <div class="row">
            <div class="col text-left cardHeaderTitle">{{providerSelected.name}}</div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li *ngIf="providerSelected?.phone != null" class="list-group-item">Telefono: {{providerSelected.phone}}</li>
            <li *ngIf="providerSelected?.email != null" class="list-group-item">Email: {{providerSelected.email}}</li>
            <li *ngIf="providerSelected?.address != null" class="list-group-item">Direccion: {{providerSelected.address}}</li>
            <li class="list-group-item">Deuda: {{providerSelected.doubt}} <span class="addDoubt" (click)="addDoubt()"><i class="icon-pencil" aria-hidden="true"></i></span></li>
            <li *ngIf="providerSelected?.website != null" class="list-group-item link" (click)="goToProviderLink()">Pagina Web</li>
        </ul>
    </div>
</div>

<p-dialog [(visible)]="addDoubtDialog" modal="modal" width="450" responsive="true" closable="true">
    <p-header>
        Modificar Deuda
    </p-header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <p-toggleButton [(ngModel)]="doubtType" onLabel="Pago" offLabel="Debo" onIcon="fa-check-square" offIcon="fa-square"></p-toggleButton>
            </div>
            <div class="col-lg-8">
                <input type="number" min="0" [(ngModel)]="ammount" class="form-control">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <label>Descripcion</label>
                <input type="text"  [(ngModel)]="description" class="form-control">
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" class="btn btn-link" (click)="addDoubtDialog=false">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="saveDoubt()">Agregar</button>
    </p-footer>
</p-dialog>