<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-12">
        <h2><i class="icon-graph"></i> Productos</h2>
    </div>

</div>
<hr>
<!-- Header title //-->
<div class="row d-flex justify-content-start align-items-end mb-3">
    <div class="col-md-2">
        <label>Categoria</label>
        <p-dropdown [options]="categories" [autoWidth]='false' [(ngModel)]="selectedCategory" editable="true" [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
    </div>
    <div class="col-md-2">
        <label>Proveedor </label>
        <p-dropdown [options]="providers" [autoWidth]='false' [(ngModel)]="selectedProvider" [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
    </div>
    <div class="col-md-3 btn-group  pull-right" role="group">
        <button type="button" class="btn btn-primary removeProduct" (click)="getProducts()">Generar</button>
        <!--<button type="button" class="btn btn-primary">Imprimir</button>-->
    </div>
</div>
<div class="row">
    <div class="col widget clearfix">
        <p-dataTable [value]="products">
            <p-column field="barCode" header="Codigo de barra" sortable="true"></p-column>
            <p-column field="name" header="Nombre" sortable="false"></p-column>
            <p-column header="Precio" sortable="true" [style]="{'width':'20%'}">
                <ng-template let-field="rowData" pTemplate type="body">
                    <span>${{field.salePrice }}
                            </span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>