<app-loading [hidden]="!isloading"></app-loading>

<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2 *ngIf="producttoEdit.id == 0"><i class="icon-tag"></i> Nuevo Producto</h2>
        <h2 *ngIf="producttoEdit.id != 0"><i class="icon-tag"></i> Editar Producto</h2>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<!-- Header title //-->

<form [formGroup]='productEditorForm' (ngSubmit)="editProduct(productEditorForm.value)">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Codigo de barra</label>
                <input id="barCode" *ngIf="producttoEdit.id == 0" type="text" class="form-control has-danger" formControlName="barCode" name="barCode">
                <input id="barCode" *ngIf="producttoEdit.id != 0" type="text" class="form-control has-danger" formControlName="barCode" name="barCode" readonly>
                <div class="alert alert-danger" role="alert" *ngIf="productEditorForm.controls['barCode'].touched && !productEditorForm.controls['barCode'].valid">
                    <span *ngIf="productEditorForm.controls['barCode'].hasError('required') ">  
                    El Codigo de barra es obligatorio.
                    </span>
                    <span *ngIf="productEditorForm.controls['barCode'].hasError('minlength') ">  
                    Min length is 1  
                    </span>
                    <span *ngIf="productEditorForm.controls['barCode'].hasError('maxlength') ">  
                    La longitud maxima para el codigo de barra es de 128 caracteres. 
                </span>
                </div>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="name" name="name">
                <div class="alert alert-danger" role="alert" *ngIf="productEditorForm.controls['name'].touched && !productEditorForm.controls['name'].valid">
                    <span *ngIf="productEditorForm.controls['name'].hasError('required') ">  
                    El Nombre es obligatorio.
                    </span>
                    <span *ngIf="productEditorForm.controls['name'].hasError('minlength') ">  
                    La longitud minima para el nombre es de 5 caracteres. 
                    </span>
                    <span *ngIf="productEditorForm.controls['name'].hasError('maxlength') ">  
                    La longitud maxima para el nombre es de 64 caracteres. 
                </span>
                </div>
            </div>
            <div class="form-group">
                <label>Descripcion</label>
                <input type="text" class="form-control" formControlName="description" name="description">

            </div>
            <div class="form-group">
                <label>Categoria</label>
                <p-dropdown [options]="categories" [autoWidth]='false' [(ngModel)]="selectedCategory" editable="true" [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
            </div>
            <div class="form-group">
                <label>Proveedor </label>
                <p-dropdown [options]="providers" [autoWidth]='false' [(ngModel)]="selectedProvider" editable="true" [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control" formControlName="productLink" name="productLink">
            </div>
        </div>
        <div class="col-lg-6 align-self-center">
            <div class="row align-items-center text-center">
                <div class="form-group col-lg-6 text-center">
                    <label>Precio de venta</label>
                    <input type="number" min="0" class="form-control squareInput" formControlName="salePrice" name="salePrice">
                </div>
                <div class="form-group col-lg-6 text-center">
                    <label>Cantidad minima</label>
                    <input type="number" min="0" class="form-control squareInput" formControlName="minQuantity" name="minQuantity">
                </div>
            </div>
            <div *ngIf="producttoEdit.id == 0" class="row  align-items-centertext-center">
                <div class="form-group col-lg-6 text-center">
                    <label>Precio de costo</label>
                    <input type="number" min="0" class="form-control squareInput" formControlName="costPrice" name="costPrice">
                </div>
                <div class="form-group col-lg-6 text-center">
                    <label>Cantidad</label>
                    <input type="number" min="0" class="form-control squareInput" formControlName="quantity" name="quantity">
                </div>
            </div>
        </div>
    </div>


    <!-- Navigation Footer -->
    <div class="col-12">
        <div class="pull-right footerButtons">
            <button type="submit" class="btn btn-link" [routerLink]="['/products']">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!productEditorForm.valid">Guardar</button>
        </div>
    </div>
</form>