<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-12">
        <h2><i class="icon-graph"></i> Proveedores</h2>
    </div>

</div>
<hr>
<div class="row d flex justify-content-start mb-3">
    <div class="col-lg-1">
        <button class="btn btn-primary">Imprimir</button>
    </div>
</div>
<div class="row">
    <div class="col widget clearfix">
        <p-dataTable [value]="providers">
            <p-column field="name" header="Nombre" sortable="true"></p-column>
            <p-column field="email" header="Email" sortable="false"></p-column>
            <p-column field="phone" header="Tel" sortable="false"></p-column>
            <p-column header="address" sortable="Direccion" [style]="{'width':'20%'}">
            </p-column>
        </p-dataTable>
    </div>
</div>