<app-loading [hidden]="!isloading"></app-loading>
<form [formGroup]='userEditorForm' (ngSubmit)="editUser(userEditorForm.value)">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="firstName" name="firstName">
            <div class="alert alert-danger" role="alert" *ngIf="userEditorForm.controls['firstName'].touched && !userEditorForm.controls['firstName'].valid">  
                <span *ngIf="userEditorForm.controls['firstName'].hasError('required') ">  
                    El Nombre es obligatorio.
                    </span>  
                    <span *ngIf="userEditorForm.controls['firstName'].hasError('minlength') ">  
                    La longitud minima para el nombre es de 5 caracteres. 
                    </span>  
                    <span *ngIf="userEditorForm.controls['firstName'].hasError('maxlength') ">  
                    La longitud maxima para el nombre es de 64 caracteres. 
                </span>  
          </div>  
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" formControlName="lastName" name="lastName">
            <div class="alert alert-danger" role="alert" *ngIf="userEditorForm.controls['lastName'].touched && !userEditorForm.controls['lastName'].valid">  
                <span *ngIf="userEditorForm.controls['lastName'].hasError('required') ">  
                    El apellido es obligatorio.
                    </span>  
                    <span *ngIf="userEditorForm.controls['lastName'].hasError('minlength') ">  
                    La longitud minima para el nombre es de 5 caracteres. 
                    </span>  
                    <span *ngIf="userEditorForm.controls['lastName'].hasError('maxlength') ">  
                    La longitud maxima para el apellido es de 64 caracteres. 
                </span>  
          </div>  
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" name="email">
            <div class="alert alert-danger" role="alert" *ngIf="userEditorForm.controls['email'].touched && !userEditorForm.controls['email'].valid">  
                <span *ngIf="userEditorForm.controls['email'].hasError('required') ">  
                    El apellido es obligatorio.
                    </span>  
                    <span *ngIf="userEditorForm.controls['email'].hasError('exist') ">  
                    El email ya posee una cuenta
                    </span>  
                    <span *ngIf="userEditorForm.controls['email'].hasError('maxlength') ">  
                    La longitud maxima para el apellido es de 64 caracteres. 
                </span>  
          </div>  
        </div>
        <div class="form-group">
            <label>Role</label>
            <p-dropdown [options]="roles" [autoWidth]='false'[(ngModel)]="selectedRole" editable="true"  [ngModelOptions]="{standalone: true}" optionLabel="name" [style]="{'width': '100%'}"> </p-dropdown>
        </div>
        <div *ngIf="usertoEdit.id == null" class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" name="password">
            <div class="alert alert-danger" role="alert" *ngIf="userEditorForm.controls['password'].touched && !userEditorForm.controls['password'].valid">  
                <span *ngIf="userEditorForm.controls['password'].hasError('required') ">  
                    El password es obligatorio.
                    </span>  
                    <span *ngIf="userEditorForm.controls['password'].hasError('minlength') ">  
                    La longitud minima para el password es de 5 caracteres. 
                    </span>  
                    <span *ngIf="userEditorForm.controls['password'].hasError('maxlength') ">  
                    La longitud maxima para el nombre es de 64 caracteres. 
                </span>  
          </div>  
        </div>
        <div *ngIf="usertoEdit.id == null" class="form-group">
            <label>Confirmar Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword">
            <div class="alert alert-danger" role="alert" *ngIf="userEditorForm.controls['confirmPassword'].touched && !userEditorForm.controls['confirmPassword'].valid">  
                <span *ngIf="userEditorForm.hasError('notSame')">  
                     Password y Confirmar Password no son iguales.
                </span>  
         </div>  
        </div>
    </div>
    </div>
    <div class="form-group col-md-12">
        <div class="pull-right">
            <button type="submit" class="btn btn-default" [routerLink]="['/users']">Cancelar</button>
            <button type="submit" class="btn btn-secondary" [disabled]="!userEditorForm.valid">Guardar</button>
        </div>
    </div>
</form>
