<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-wallet"></i> Gastos</h2>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<!-- Header title //-->
<div class="row">
    <div class="col-md-12 clearfix mb-3">
        <div *ngIf="authService.decodedToken.userRole == 'Administrador'" class="col-md-1">
            <label>Mensual?</label>
            <p-checkbox [(ngModel)]="isMonthly" binary="true"></p-checkbox>
        </div>
        <form class="form-inline" [formGroup]="newExpenseForm" (ngSubmit)="submitnewExpense(newExpenseForm.value)">

            <div class="form-group mb-2">

                <input placeholder="Monto" type="number" min="0" class="form-control" [formControl]="newExpenseForm.controls['amount']" autocomplete="off" name="categoryname">
            </div>
            <div class="form-group mx-sm-3 mb-2">

                <input placeholder="Descripción" type="text" class="form-control" autocomplete="off" [formControl]="newExpenseForm.controls['description']" name="description">
                <div class="alert alert-danger" *ngIf="!newExpenseForm.controls['description'].valid">La descripcion debe tener hasta 128 caracteres.</div>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-primary addExpense" [disabled]="!newExpenseForm.valid">Agregar</button>
            </div>
        </form>
    </div>
    <div class="stockitGrid widget clearfix col">
        <p-dataTable [value]="expenses" [rows]="10" [paginator]="true" [pageLinks]="5" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="changePage($event)">
            <p-column header="Fecha" sortable="true">
                <ng-template let-field="rowData" pTemplate="body">
                    <span>{{field.date.toLocaleString() | date: 'MM/dd/yyyy HH:mm:ss'}}</span>
                </ng-template>
            </p-column>
            <p-column field="amount" header="Monto" sortable="true"></p-column>
            <p-column field="description" header="Descripción" sortable="false"></p-column>
        </p-dataTable>
    </div>
    <div *ngIf="authService.decodedToken.userRole == 'Administrador'" class="stockitGrid widget clearfix col">
        <p-dataTable [value]="monthlyExpenses" [rows]="10" [paginator]="true" [pageLinks]="5" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="changeMonthlyPage($event)">
            <p-column field="description" header="Descripción" [editable]="false"></p-column>
            <p-column field="amount" header="Monto" [editable]="true"></p-column>
            <p-column styleClass="col-button" [style]="{'width':'90px'}">
                <ng-template pTemplate="header">
                    <span></span>
                </ng-template>
                <ng-template let-field="rowData" pTemplate="body">
                    <div class="btn-group">
                        <button type="button" class="gridButton btn btn-link" pButton (click)="paid(field)"> <i class="icon-credit-card" aria-hidden="true"></i></button>
                        <button type="button" class="gridButton btn btn-link" pButton (click)="remove(field)"> <i class="icon-close" aria-hidden="true"></i></button>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <!--<div class="col-md-6 ">
            <h4>Gastos</h4>
            <div id="categoriesGrid">
                <p-dataTable [value]="expenses" [paginator]="true" [pageLinks]="3" [rows]="8" [paginator]="true" [pageLinks]="3">
                    <p-column header="Fecha" sortable="true">
                        <template let-field="rowData" pTemplate="body">
                            <span>{{field.date | date: 'MM/dd/yyyy HH:mm:ss'}}</span>
                        </template>
                    </p-column>
                    <p-column field="amount" header="Monto" sortable="true"></p-column>
                    <p-column field="description" header="Motivo" sortable="false"></p-column>
                </p-dataTable>
            </div>
        </div>
        <div *ngIf="role == 'Administrador'" class="col-md-6 ">
            <h4>Gastos Mensuales</h4>
            <p-dataTable [value]="monthlyExpenses" [editable]="true" [paginator]="true" [pageLinks]="3" [rows]="8" [paginator]="true" [pageLinks]="3" (onEditComplete)="onRowUpdate($event)">
                <p-column field="description" header="Motivo" [editable]="false"></p-column>
                <p-column field="amount" header="Monto" [editable]="true"></p-column>

                <p-column styleClass="col-button" [style]="{'width':'90px'}">
                    <template pTemplate="header">
                        <span></span>
                    </template>
                    <template let-field="rowData" pTemplate="body">
                        <button type="button" class="gridButton" pButton (click)="paid(field)" icon="fa-credit-card"></button>
                        <button type="button" class="gridButton" pButton (click)="remove(field)" icon="fa-times"></button>
                    </template>
                </p-column>
            </p-dataTable>
            <div>
                <button type="button" class="btn btn-secondary pull-right payAll" (click)="paidAll()">Pagar Todo</button>
            </div>
        </div>-->
</div>