<app-loading [hidden]="!isloading"></app-loading>

<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-8">
        <h2><i class="icon-basket"></i> Ventas</h2>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr>
<!-- Header title //-->



<div class="row">

    <div class="columna col-lg-6">
        <div class="actionButtons widget clearfix">
            <div class="btn-group pull-left" role="group">
                <button type="button" [routerLink]="['/newSale/0']" class="btn btn-primary">Nueva Venta</button>
            </div>
            <div class="btn-group  pull-right" role="group">
                <button type="button" class="btn btn-primary" [disabled]="selectedSale==null" [routerLink]="['/newSale/',selectedSale?.id]"><i class="icon-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="stockitGrid widget clearfix">
            <p-dataTable [value]="sales" [rows]="10" [paginator]="true" [pageLinks]="5" selectionMode="single" [lazy]="true" [(selection)]="selectedSale" (onRowSelect)="onRowSelect($event)" [totalRecords]="totalRecords" (onLazyLoad)="changePage($event)" (onRowDblclick)="doubleClick($event)">
                <p-column header="Fecha" sortable="true">
                    <ng-template let-field="rowData" pTemplate type="body">
                        <span>{{field.date.toLocaleString() | date: 'MM/dd/yyyy HH:mm:ss'}}</span>
                    </ng-template>
                </p-column>
                <p-column header="Total" sortable="true" [style]="{'width':'30%'}">
                    <ng-template let-field="rowData" pTemplate type="body">
                        <span>${{field.total }}
                                <!--<i *ngIf="field.payMethod == 'Efectivo'" class="fa fa-money" aria-hidden="true"></i>
                                <i *ngIf="field.payMethod == 'Tarjeta' " class="fa fa-credit-card" aria-hidden="true"></i>-->
                            </span>
                    </ng-template>
                </p-column>
                <p-column header="F. Pago" sortable="true" [style]="{'width':'20%'}">
                    <ng-template let-field="rowData" pTemplate type="body">
                        <span>{{field.payMethod }}
                                <!--<i *ngIf="field.payMethod == 'Efectivo'" class="fa fa-money" aria-hidden="true"></i>
                                <i *ngIf="field.payMethod == 'Tarjeta' " class="fa fa-credit-card" aria-hidden="true"></i>-->
                            </span>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="columna col-lg-6">
        <div class="saleDetail">
            <app-sale-detail [saleSelected]="selectedSaleDetail"></app-sale-detail>
        </div>
    </div>
</div>