@import '../../../styles';
.localStock {
    margin-left: 4rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.barCodePrint {
    float: right;
    display: block;
    margin: 0px -10px 0px 0px;
    padding: 0px;
}