<div class="card detailcard" *ngIf="productSelected!= null">
    <div class="card-header">
        <div class="row">
            <div class="col-auto text-left cardHeaderTitle">{{productSelected.name}}</div>

            <div *ngIf="authService.decodedToken.userRole == 'Administrador'" class="col-1">
                <a class="faButton" [hidden]="productSelected==null" (click)="showMoveStockDialog($event)">
                    <i class="icon-action-undo mr-md-2" aria-hidden="true"></i>
                </a>
            </div>
            <div *ngIf="authService.decodedToken.userRole == 'Administrador'" class="col-1">
                <a class="faButton" [hidden]="productSelected==null" (click)="showAddStockDialog($event)">
                    <i class="icon-plus mr-md-2" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" (click)="printBarCode($event)"><button class="btn btn-link barCodePrint"><i class="icon-printer"></i></button> Código de Barra: {{productSelected.barCode}}</li>
            <li *ngIf="productSelected?.description != null" class="list-group-item">Descripcion: {{productSelected.description}}</li>
            <li class="list-group-item">Categoria: {{productSelected.category.name}}</li>
            <li class="list-group-item">Proveedor: {{productSelected.provider.name}}</li>
            <li class="list-group-item">Precio de venta: ${{productSelected.salePrice}}</li>
            <li class="list-group-item">Cantidad Minima: {{productSelected.minQuantity}}</li>
            <li class="list-group-item">Stock:
                <div *ngFor="let stock of productSelected.stocks" class="localStock">
                    <strong>{{stock.local}}</strong>: {{stock.quantity}}
                </div>
            </li>
            <li *ngIf="productSelected?.productLink != null" class="list-group-item link" (click)="goToProductLink()">Link</li>
            <li class="list-group-item link" (click)="showcostPrice()">Precio de Costo</li>
        </ul>

    </div>
</div>

<!-- Dialog: Agregar Stock -->

<p-dialog [(visible)]="displayStockModal" modal="modal" width="450" responsive="true" closable="true">
    <p-header>
        Agregar Stock
    </p-header>
    <form [formGroup]="newStocktForm" (ngSubmit)="submitnewStockForm(newStocktForm.value)">
        <div class="container">
            <div class="row">
                <div class="form-group col">
                    <label>Cantidad</label>
                    <input type="number" min="0" class="form-control inputSquare" [formControl]="newStocktForm.controls['quantity']" name="quantity">
                </div>
                <div class="form-group col-md-6">
                    <label>Precio de Costo</label>
                    <input type="number" min="0" class="form-control inputSquare" [formControl]="newStocktForm.controls['costPrice']" name="costPrice">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Precio de Venta</label>
                    <input type="number" min="0" class="form-control inputSquare" [formControl]="newStocktForm.controls['salePrice']" name="salePrice">
                </div>
            </div>
        </div>
        <p-footer>
            <div class="pull-right">
                <button type="button" class="btn btn-link" (click)="displayStockModal=false">Cancelar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </p-footer>
    </form>
</p-dialog>


<!-- Dialog: Mover Stock -->

<p-dialog [(visible)]="displayMoveStockModal" modal="modal" width="500" responsive="true" closable="true">
    <p-header>
        Mover Stock
    </p-header>
    <form [formGroup]="moveStocktForm" (ngSubmit)="submitMoveStockForm(moveStocktForm.value)">
        <div class="container">
            <div class="row">
                <div class="col form-group">
                    <label>Desde</label>
                    <p>{{localService.selectedLocal?.name}}</p>
                </div>
                <div class="col form-group">
                    <label>Hacia</label>
                    <div>
                        <p-dropdown [options]="localService.locals" formControlName="toLocal" [autoWidth]="false" [style]="{'width': '100%'}" class="localsDrowdown" optionLabel="name"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label>Cantidad</label>
                    <input type="number" min="0" class="form-control inputSquare" [formControl]="moveStocktForm.controls['quantity']" name="quantity">
                </div>
            </div>
        </div>
        <p-footer>
            <div class="pull-right">
                <button type="button" class="btn btn-link" (click)="displayMoveStockModal=false">Cancelar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </p-footer>
    </form>
</p-dialog>