<app-loading [hidden]="!isloading"></app-loading>
<div class="row">
        <div class="col-md-1">
            <span>
                Cantidad:
                <input type="number" min="1" [(ngModel)]="quantityCount" class="form-control">
            </span>
        </div>
        <div class="col-md-7">
            <span>
                Codigo de Barra:
            </span>
            <input [(ngModel)]="searchValue"  maxlength="128" (keyup.enter)="onEnter()" class="form-control">
        </div>
        <div class="col-md-4">
            <button (click)="SaveAndFinish()" class="btn btn-default savestockCounter pull-right">Save And Finish</button>
            <button (click)="Save()" class="btn btn-default savestockCounter pull-right ">Save</button>
        </div>
</div>
<div class="row">
    <div class="col">
          <p-dataTable [value]="stockControl.stockControlDetail">
            <p-column field="barCode" header="Codigo de Barra" sortable="true"></p-column>
            <p-column field="name" header="Nombre" sortable="false"></p-column>
            <p-column field="actualStock" header="Stock En Sistema" sortable="false" styleClass="numberColumn"></p-column>
            <p-column field="countedStock" header="Stock Actual" sortable="false" styleClass="numberColumn"></p-column>
        </p-dataTable>
    </div>
</div>
