<!--<app-nav-bar></app-nav-bar>-->

<body>
    <div class="container-fluid">
        <div class="row">
            <app-side-bar></app-side-bar>
            <main class="main col">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</body>