<app-loading [hidden]="!isloading"></app-loading>
<!-- Header title-->
<div class="row d-flex align-items-end">
    <div class="col-md-12">
        <h2><i class="icon-graph"></i> Balance entre fechas</h2>
    </div>

</div>
<hr>
<!-- Header title //-->
<div class="row d-flex justify-content-start align-items-end mb-3">
    <div class="col-md-2">
        <label>Desde</label>
        <p-calendar [(ngModel)]="from" [maxDate]="maxDate" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="col-md-2">
        <label>Hasta</label>
        <p-calendar [(ngModel)]="to" [minDate]="from" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="col-md-3 pull-left" role="group">
        <button type="button" class="btn btn-primary removeProduct" (click)="getStockTaking()">Generar</button>
        <!--<button type="button" class="btn btn-primary">Imprimir</button>-->
    </div>
</div>
<div class="row">
    <div class="col widget clearfix">
        <p-dataTable [value]="stocktaking">
            <p-column header="Fecha" sortable="true" [style]="{'width':'20%'}">
                <ng-template let-field="rowData" pTemplate type="body">
                    <span>{{field.date.toLocaleString() |  date:short }}
                            </span>
                </ng-template>
            </p-column>
            <p-column header="Ventas" sortable="true" [style]="{'width':'20%'}">
                <ng-template let-field="rowData" pTemplate type="body">
                    <span>{{field.sales }}
                            </span>
                </ng-template>
            </p-column>
            <p-column header="Gastos" sortable="true" [style]="{'width':'20%'}">
                <ng-template let-field="rowData" pTemplate type="body">
                    <span>{{field.expenses }}
                            </span>
                </ng-template>
            </p-column>
            <p-column header="Saldo" sortable="true" [style]="{'width':'20%'}">
                <ng-template let-field="rowData" pTemplate type="body">
                    <span>
                            {{field.sales - field.expenses }}
                    </span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>